environment              = "dev"
location                = "eastus"
resource_group_name     = "microservices-demo-rg"
db_username             = "postgres"
db_password             = "YourSecurePassword123!"
github_username         = "REPLACE_WITH_YOUR_GITHUB_USER"
github_token            = "REPLACE_WITH_YOUR_GITHUB_TOKEN"
